*{
    box-sizing: border-box;
}
body{
    font-family: 'Raleway';
    text-align: center;
}
.registration{
    text-align: right;
}
.registration h1{
    text-align: center;
}

p{
    font-size: 20px;
}
img{
    max-width: 100%;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.registration{
    display: flexbox;
    color: #EDF6E6;    
    background-color: #6E7E6E;    
    padding: 5px;
    margin-bottom: 20px;
    overflow: hidden; 
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}

.navigation{
    float: right;
    color: #EDF6E6;   
    background-color: #cf5423;     
    padding: 20px;
    margin-top: 90px;
    overflow: hidden; 
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}

.navigation .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navigation a:not(:nth-child(2)) {display:none;}
    .navigation a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navigation.responsive a.icon{
        float: right;
        right: 0;
        top: 0;
    }
    .navigation.responsive a {
        float:none;
        display: block;
        text-align: left;
        top: 0;
    }
}

.error{
    color: red;
    text-align: left;

}
.registration h1{
    justify-content: flex-end;
}
.registration a{
    justify-content: flex-start;
}
a{
    margin: 5px;
    text-decoration: none;
    color: #EDF6E6;
}
a:hover{
    opacity: 0.7;
}


.loginlink{
    display: flex;
    padding-right: 800px;
    color: aqua;
}
.mainpage{
    margin-top: 110px;
    align-items: center;
    justify-content: center;
}

.form{
    margin-top: 180px;
    padding-left: 50px;
    padding-right: 50px;
}
.movies, .series{
    margin-top: 180px;

}

input[type=text], input[type=password] {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

button{
    color : white;
    border-style: none;
    padding: 10px;
    border-radius: 7pt;
    margin-top: 15px;
}
button[type=submit]{
    background-color: rgb(68, 174, 209);

}

button:hover{
    opacity: 0.5;
}
table {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}
th {
    background-color: rgb(228, 142, 84);
    color: white;
    font-size: 26pt;
    font-weight: bolder;
}
td{
    font-size: 25pt;
}

#profile{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

  